export(PPindex.class)
export(PPindex.LDA)
export(PPindex.PDA)
export(PPindex.Lp)
export(PP.optimize.random)
export(PP.optimize.anneal)
export(PP.optimize.Huber)
export(PP.optimize.plot)
useDynLib(classPP)